@import 'variables'; // Breakpoints
@mixin breakpoint($point) {
  @if $point == bigscreen {
    @media (min-width: $max-width-desktop) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: $max-width-laptop) and (max-width: $max-width-desktop - 1) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: $max-width-tablet) and (max-width: $max-width-laptop - 1) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: $max-width-mobile) and (max-width: $max-width-tablet - 1) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: $max-width-mobile - 1) {
      @content;
    }
  }
}

/// Helper for hiding content visually but not from screenreaders
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 1px;
}

@mixin focus-style {
  outline: 1px dotted #212121;
  outline: -webkit-focus-ring-color auto 5px; // sass-lint:disable-line no-duplicate-properties // browser defaults
}
