// Colors
$color-green: #e0f4d0;
$color-green-secondary: #82d83c;
$color-blue: #d7f2fa;
$color-blue-secondary: #6bc5e1;
$color-yellow: #ffef7f;
$color-yellow-secondary: rgba(211, 185, 0, 0.75);
$color-orange: #ffead3;
$color-orange-secondary: rgba(252, 156, 53, 0.7);
// Breakpoints
$max-width-desktop: 1400px;
$max-width-laptop: 1100px;
$max-width-tablet: 900px;
$max-width-mobile: 640px;
