// Colors
$color-green: #e0f4d0;
$color-green-secondary: #82d83c;
$color-blue: #d7f2fa;
$color-blue-secondary: #6bc5e1;
$color-yellow: #ffef7f;
$color-yellow-secondary: rgba(211, 185, 0, 0.75);
$color-orange: #ffead3;
$color-orange-secondary: rgba(252, 156, 53, 0.7);
$color--white: #fff;
$color--black: #000;
$color--light-gray: #d6d6d6;

// Breakpoints
$max-width-desktop: 1400px;
$max-width-laptop: 1100px;
$max-width-tablet: 900px;
$max-width-mobile: 640px;

$font--rational: 'RationalText', sans-serif;
$font__button: $font--rational;

$color__background-button: #fff;
$color__background-button-hover: #fff;
$color__button: rgba(0, 0, 0, 1);
$color__button-hover: rgba(0, 0, 0, 0.6);

$icon_size: 18px;
$large_icon_size: 22px;

$button__box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
$button__box-shadow-hover: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
$button__box-shadow-light: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
